 
  // variables
  $background-color: #f8f8f8;

/**
 * 系统主题色
 */
  $themeColor: #982f2c;

  /**
  * 边框色
  */
  $borderColor: #C7C7C7;

/**
  * 灰色 (序号越大 颜色越浅)
  */
  $gray-a: #a5a5a5;
  $gray-b: #b5b5b5;
  $gray-c: #c5c5c5;
  $gray-d: #d5d5d5;
  $gray-e: #e5e5e5;
  $gray-f: #f5f5f5;
  
